<html>
<head>
	<script>
		window.onload = function() {
			{{ function_to_run }}();
		};

		function map() {
			var words = {{ job_content }}
			emit('reduce', {'count': words});
		}

		function reduce() {
			var sum = 0;
			var docs = {{ job_count }}

			for(int i=0; i<docs.lenght; i++){
				alert(parseInt(docs[i]));
				sum += parsInt(docs[i]);
			}
			emit('finalize', {'sum': sum});
		}

		function emit(phase, data) {
			var myForm = document.createElement('form');
			myForm.method = "GET";
			myForm.action = "/emit/"+phase;

			for(var k in data){
				var myInput = document.createElement('inpute');
				myInput.setAttribute('name', k);
				myInput.setAttribute('value', data[k]);
				myForm.appenChild(myInput);
			}

			document.body.appentChild(myForm);
			myForm.submit();
			document.body.removeChild(myForm);
		}
	</script>
</head>
<body>
{{ job_contetn }}
</body>
</html>